body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-img{
  height: 200px; 
  width:200px; 
  margin: 0 auto;
  overflow: hidden; 
  border-radius: 50%;
  box-shadow: 1px 2px 3px 4px #f2f3f4;
}
.col-lg-3{
  padding: 10px !important;
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.col-lg-3:focus, .col-lg-3:focus-within, .col-lg-3:focus-visible{
  outline: none !important;
  border: none !important;
  box-shadow: none !important;
}
.character-inner-box{
  padding: 10px !important;
  border-radius: 10px;
  background-color: rgb(255,255,255);
  box-shadow: 2px 2px 3px 4px #ccc;
  position: relative;
}
.text-center{
  margin-top: 30px;
}
h4{
  padding-bottom :10px;
}
.content{
  font-size: 16px;
    font-weight: 500;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: yellow;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 45px 10px;
}
.content span {
  display: block;
  width: 100%;
}
.btn-div{
  margin-top: 10px;
  position: relative;
}
.row{
  margin-top: 20px;
  margin-bottom: 20px;
}


.pagination {
  margin: 15px auto;
  display: flex;
  list-style: none;
  outline: none;
}
.pagination > .active > a{
  background-color: #47ccde ;
  border-color: #47ccde ;
  color: #fff;
}
.pagination > li > a{
  border: 1px solid #47ccde ;
  padding: 5px 10px;
  outline: none;
  cursor: pointer;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
  background-color: #47ccde ;
  border-color: #47ccde;
  outline: none ;
}
.pagination > li > a, .pagination > li > span{
  color: #47ccde
}
.pagination > li:first-child > a, .pagination > li:first-child > span, .pagination > li:last-child > a, .pagination > li:last-child > span{
  border-radius: unset
}
.loader{
  position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.select-box{
  max-width: 80px;
  height: auto;
  width: 100%;
  margin-right: 10px;
}
.pagination-box{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.search{
  text-align: left;
}
.searchInputs {
  margin:50px 0 20px;
  position: relative;
  display: inline-flex;
}
.search input{
  background-color: white;
  border: 0;
  border-radius: 10px;
  border-color: black;
  border: 1px solid;
  font-size: 18px;
  padding: 15px;
  height: 30px;
  width: 300px;
}
.searchIcon{
  position: absolute;
  right: 7px;
}

.searchIcon svg{
  width: 24px;
}